@model YTeAspMVC.Models.Doctor
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var doctor = ViewBag.DetailDoctor as YTeAspMVC.Models.Doctor;
}
<div class="container">
    <h1 class="mt-5 mb-5">Detail Doctor</h1>
    <div class="row">
        <!--Start Single doctor item-->
        <div class="doctor-content">
            @*@foreach (var doctor in ViewBag.DetailDoctor)
                {*@
            <div class="single-doctor-item wow fadeInUp" data-wow-delay="300ms">
                <div class="img-holder">
                    <!-- <img src="/IMG/TS.BS-Nguyen-Van-Lam.jpg" alt="Awesome Image"> -->
                    <img src="~/Content/images/@doctor.Image" alt="Awesome Image">
                </div>
                <div class="text-holder">
                    <h3>@doctor.FullName</h3>
                    @Html.Raw(doctor.Describe)
                    <!-- <ul>
                        <li><span class="flaticon-e-mail-envelope"></span>vietthanh@gmail.com</li>
                    </ul> -->
                </div>
            </div>
            @*}*@
        </div>
        <!--End Single doctor item-->
        <div class="col-xl-6 doctor-schedules">
            <div class="schedules mt-2">
                <p>Lịch Khám</p>
                <select name="schedules">
                    <option value="5/10/2024">5/10/2024</option>
                    <option value="6/10/2024">6/10/2024</option>
                    <option value="7/10/2024">7/10/2024</option>
                    <option value="8/10/2024">8/10/2024</option>
                </select>
            </div>
            <ul>
                <li onclick="OnInput()" id="click_time"><a>17:00 - 17:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
                <li onclick="OnInput()" id="click_time"><a>07:00 - 07:30</a></li>
            </ul>
            <span>
                Chọn
                <svg viewBox="0 0 448 512" preserveAspectRatio="none" width="14" fill="#333" height="16"><path d="M105.6 83.2v86.177a115.52 115.52 0 0 0-22.4-2.176c-47.914 0-83.2 35.072-83.2 92 0 45.314 48.537 57.002 78.784 75.707 12.413 7.735 23.317 16.994 33.253 25.851l.146.131.148.129C129.807 376.338 136 384.236 136 391.2v2.679c-4.952 5.747-8 13.536-8 22.12v64c0 17.673 12.894 32 28.8 32h230.4c15.906 0 28.8-14.327 28.8-32v-64c0-8.584-3.048-16.373-8-22.12V391.2c0-28.688 40-67.137 40-127.2v-21.299c0-62.542-38.658-98.8-91.145-99.94-17.813-12.482-40.785-18.491-62.791-15.985A93.148 93.148 0 0 0 272 118.847V83.2C272 37.765 234.416 0 188.8 0c-45.099 0-83.2 38.101-83.2 83.2m118.4 0v91.026c14.669-12.837 42.825-14.415 61.05 4.95 19.646-11.227 45.624-1.687 53.625 12.925 39.128-6.524 61.325 10.076 61.325 50.6V264c0 45.491-35.913 77.21-39.676 120H183.571c-2.964-25.239-21.222-42.966-39.596-59.075-12.65-11.275-25.3-21.725-39.875-30.799C80.712 279.645 48 267.994 48 259.2c0-23.375 8.8-44 35.2-44 35.2 0 53.075 26.4 70.4 26.4V83.2c0-18.425 16.5-35.2 35.2-35.2 18.975 0 35.2 16.225 35.2 35.2M352 424c13.255 0 24 10.745 24 24s-10.745 24-24 24-24-10.745-24-24 10.745-24 24-24"></path></svg>
                và đặt (Phí đặt lịch 0đ)
            </span>
            <div id="on_reason" class="reason mt-1">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Lý do khám bệnh:</label>
                    <textarea name="Reason" class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button onclick="DeleteSchedules()" class="mt-2 mb-2 btn btn-primary">Đặt lịch</button>
            </div>
        </div>
        <div class="col-xl-6 clinic">
            <h6>ĐỊA CHỈ KHÁM</h6>
            <div class="clinic-intro">
                <p>Phòng khám Đa khoa Mediplus</p>
                <p>Tầng 2, Trung tâm thương mại Mandarin Garden 2, 99 phố Tân Mai, Tân Mai, Hoàng Mai, Hà Nội</p>
            </div>
            <div class="price">
                <b>GIÁ KHÁM: </b><span>350.000đ</span>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<section class="detail-content">
    <div class="container">
        <div class="row">
            <div class="detail-doctor_footer">
                @Html.Raw(doctor.DescribeHTMl)
            </div>
        </div>
    </div>
</section>

<script>
    function OnInput() {
        if ($("#on_reason").is(":visible")) {
            $("#on_reason").hide();
        } else {
            $("#on_reason").show();
        }    
    }
</script>

